<footer>
  <div class="footer-gif-container"></div>
  Copyright Shawn © <%= new Date().getFullYear() %>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/index.js"></script>
</body>

</html>